Repository teletrace/teletrace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @epsagon/lupa-managers, @haimrait, @epsagon/team-sonic, @epsagon/team-zola, @ophiryael, @roybh1, @Tavh, @tmishari

.github/CODEOWNERS:

# by default
@epsagon/lupa-developers

# specific files
README.md  @epsagon/lupa-managers
LICENSE  @haimrait
CONTRIBUTING.md  @epsagon/lupa-managers
CODE_OF_CONDUCT.md  @haimrait
.github/CODEOWNERS @haimrait
.github/pull_request_template.md @epsagon/lupa-managers

# Specific directories
.github/ISSUE_TEMPLATE/ @epsagon/lupa-managers
website/ @epsagon/lupa-managers

# Sonic responsibilities
web/features/search @epsagon/team-sonic

# Zola responsibilities
web/features/trace @epsagon/team-zola
cmd/ @epsagon/team-zola
deploy/ @epsagon/team-zola

# Exporters
lupa-otelcol/exporter/elasticsearchexporter/ @ophiryael @roybh1
lupa-otelcol/exporter/sqliteexporter/ @Tavh @tmishari

fix: index not found error (#636)
  pkg/api/handlers.go
  plugin/spanreader/es/errors/errors.go
  plugin/spanreader/es/searchcontroller/search_controller.go
  plugin/spanreader/es/tagscontroller/errors.go
  plugin/spanreader/es/tagscontroller/tags_controller.go
Owners: none

minor ci fix
  web/src/features/search/components/SpanTable/SpanTable.tsx
Owners: none

minor
  demo/README.md
  demo/Tiltfile
  demo/client/Dockerfile
  demo/client/go.mod
  demo/client/go.sum
  demo/client/main.go
  demo/docker-compose.yml
  demo/lupa-collector-config.yaml
  demo/otel-collector-config.yaml
  demo/prometheus.yaml
  demo/server/Dockerfile
  demo/server/go.mod
  demo/server/go.sum
  demo/server/main.go
Owners: @epsagon/lupa-managers

moved ellipsis to the start, added tooltip
  web/src/features/search/components/TagValuesSelector/TagValuesSelector.tsx
  web/src/features/search/components/TagValuesSelector/styles.ts
Owners: none

fix: linter
  web/src/features/search/components/TagValuesSelector/TagValuesSelector.tsx
Owners: none

perf(es-exporter): fixing CR
  lupa-otelcol/exporter/elasticsearchexporter/internal/modeltranslator/model_translator.go
Owners: @ophiryael, @roybh1

add error icon
  web/src/components/Elements/ResourceIcon/ResourceIcon.tsx
  web/src/components/Elements/ResourceIcon/icons/ErrorOutline.svg
  web/src/features/trace/components/SpanDetailsList/SpanDetails/SpanDetails.tsx
  web/src/features/trace/components/SpanDetailsList/SpanDetails/styles.ts
Owners: none

change error icon size
  web/src/features/trace/components/SpanDetailsList/SpanDetails/styles.ts
Owners: none

cr
  web/src/features/trace/components/SpanDetailsList/SpanAttribute/SpanAttribute.tsx
Owners: none

feat: add copy span value to clipboard (#714)
  web/src/features/trace/components/SpanDetailsList/SpanAttribute/SpanAttribute.tsx
  web/src/features/trace/components/SpanDetailsList/SpanAttribute/styles.ts
Owners: none

get all available tags
  plugin/spanreader/sqlite/filters_utils.go
  plugin/spanreader/sqlite/query_builder.go
  plugin/spanreader/sqlite/span_reader.go
  plugin/spanreader/sqlite/tags_utils.go
Owners: none

change createRangeFilter
  plugin/spanreader/es/utils/filter_factory.go
Owners: none

added arrow to tooltip
  web/src/features/search/components/TagValuesSelector/TagValuesSelector.tsx
Owners: none

feat: better formatting for long attribute values (#721)
  web/src/features/search/components/TagValuesSelector/TagValuesSelector.tsx
  web/src/features/search/components/TagValuesSelector/styles.ts
Owners: none

use MUI error icon
  web/src/features/trace/components/SpanDetailsList/SpanDetails/SpanDetails.tsx
  web/src/features/trace/components/SpanDetailsList/SpanDetails/styles.ts
Owners: none

fix: add feature and why lupa sections
  README.md
Owners: @epsagon/lupa-managers

fix: add spaces
  README.md
Owners: @epsagon/lupa-managers

fix: add string handling when creating range filters (#728)
  plugin/spanreader/es/utils/filter_factory.go
Owners: none

fix: change why lupa section
  README.md
Owners: @epsagon/lupa-managers

fix: change features section
  README.md
Owners: @epsagon/lupa-managers

fix: change the header
  README.md
Owners: @epsagon/lupa-managers
